<%- include('../partition/header.ejs') %>

<section class="blog-detail mtb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-left">
                    <h1><%= data.title %></h1>
                    <div class="posted-on">
                        <p>by <span>Blogger</span> on <span><%= data.createdAt.toLocaleDateString() %></span></p>
                    </div>
                    <div class="detail-img">
                       <img src="/assets/images/img1.jpg" alt="blog1" />
                    </div>
                    <div class="blog-desc">
                        <p><%= data.description %></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-right">
                    <div class="right-widget recent-post">
                        <h3>Recent Blogs</h3>
                        <% data1.forEach((item)=>{ %>
                        <a href="#">
                            <div class="rb-box">
                                <div class="rb-box-img">
                                    <img src="/assets/images/img1.jpg" alt="blog1" />
                                </div>
                                <div class="rb-box-desc">
                                    <h4><%= item.title %></h4>
                                    <p>Posted On: <%= item.createdAt.toLocaleDateString() %></p>
                                </div>
                            </div>
                        </a>
                        <% }) %>
                    </div>
                     <div class="right-widget categories">
                         <h3>Categories</h3>
                         <ul>
                             <% cat.forEach((item)=>{ %>
                            <li><a href="#"><%= item.category_name %></a></li>
                            <% }) %>
                        </ul>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../partition/footer.ejs') %>