<%- include('../partition/header.ejs') %>
<section class="banner">
    <div class="banner-box">
        <div class="intro-text">
            <div class="intro-text-box">
                <h1>Lorem Ipsum is simply dummy text</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
        <img src="assets/images/banner.jpg" alt="banner" />
    </div>
</section>
<section class="featured-blog mtb-40">
    <div class="container">
        <div class="row">
            <% data.forEach((item)=>{ %>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/img1.jpg" alt="blog1" />
                    <h3><%= item.title %></h3>
                    <p><span><%= item.createdAt.toLocaleDateString() %></span></p>
                    <p>
                        <%= item.description %>
                    </p>
                    <a href="/detail/<%= item._id%>" class="btn btn-danger">Read more...</a>
                </div>
            </div>
            <% }) %>
            
            
        </div>
    </div>
</section>
<%- include('../partition/footer.ejs') %>
