<%- include('../../partition/header.ejs') %>
<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blog" class="active">Blogs</a></li>
                            <li><a href="/admin/category">Categories</a></li>
                            <li><a href="/admin/about">About</a></li>
                            <li><a href="/admin/contact">Contact</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>Blogs</h1>
                            </div>
                            <div class="dash-nav">
                                <a href="/admin/createBlog" class="btn btn-primary save-btn">Add Post</a>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>ID</th>
                                <!-- <th>Image</th> -->
                                <th>Title</th>
                                <th>Category</th>
                                <th>Posted On</th>
                                <th>Action</th>
                            </tr>
                            <% var i = 1 %>
                            <% database.forEach((a)=>{ %>
                              <tr>
                    
                              <th scope="row"><%= i++ %></th>
                                <td><%= a.title   %></td>
                                <td><%= a.category_name   %></td>
                                <td><%= a.createdAt.toLocaleDateString() %></td>
                                <td>
                                    <a href="/admin/blog/view/<%= a._id %>" class="btn btn-success">View</a>
                                    <a href="/admin/blog/edit/<%= a._id %>" class="btn btn-primary">Edit</a>
                                    <a href="/admin/blog/delete/<%= a._id %>" class="btn btn-danger">Delete</a>
                                </td>
                              </tr>
                              <%  }) %>
                           
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../../partition/footer.ejs') %>